# .gitattributes

# This file is part of ZX Beep
# http://programandala.net/

# 2017-09-17: Unfortunately, GitHub does not recognize the BASIC
# language, only a few dialects with their specific filename
# extensions; even worst, the generic .bas, used by many BASIC
# dialects, is taken by Visual Basic! Therefore the override here is
# useless:

# SBASIC sources:
*_bas linguist-language=BASIC
*.bas linguist-language=BASIC
*_bas linguist-generated

# vim: filetype=config
